.container {
  padding: 60px 0px 40px 0px;
  flex-direction: column;
}

.heading {
  font-size: 36px;
  line-height: 43.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
}

.text {
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  color: rgba(113, 128, 150, 1);
}

.features {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 60px;
  gap: 40px;
}

.feature {
  background-color: rgba(26, 32, 44, 1);
  color: white;
  width: 362px;
  height: 163px;
  position: relative;
  border-radius: 8px;
  padding: 24px;
}

.title {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.featureText {
  color: rgba(113, 128, 150, 1);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  padding: 16px 0px;
}

.icon {
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 66, 218, 1);
  border-radius: 8px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 43%;
  top: -17%;
}

.teamHeading {
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.92);
  text-align: center;
}

.team {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 60px;
  padding: 60px;
}
