.container {
  padding: 15px;
}

.title {
  color: rgba(255, 255, 255, 1);
  font-size: 27.33px;
  line-height: 41px;
  margin: 10px 0px 10px 0px;
  text-align: center;
  margin: 10px 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
}

.line {
  border: 1px solid rgba(71, 71, 74, 1);
  height: 50px;
}

.done,
.cancel {
  font-size: 27.33px;
  line-height: 41px;
  text-align: center;
}

.done {
  color: rgba(75, 131, 255, 1);
}

.cancel {
  color: rgba(255, 255, 255, 1);
}
