.container {
  padding: 80px 20px;
}
.platforms {
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
}

.platform {
  width: 119px;
  height: 120px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  background-color: rgba(26, 32, 44, 1);
  border-radius: 6px;
}

.content {
  padding: 40px 40vw 0px 12vw;
}

.heading {
  font-size: 36px;
  line-height: 43.2px;
  text-align: left;
  color: rgba(255, 255, 255, 0.92);
}

.text {
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  color: rgba(160, 174, 192, 1);
}
