@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Indie+Flower&display=swap");
body {
  margin: 0;
  background: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #171923, #171923),
    linear-gradient(0deg, #171923, #171923);
}

.ant-modal-content {
  background: linear-gradient(0deg, #121212, #121212),
    linear-gradient(0deg, #171923, #171923),
    linear-gradient(0deg, #171923, #171923) !important;
  box-shadow: 0px 0px 3.8px 0px rgba(255, 255, 255, 0.25) !important;
  border: 1px solid rgba(71, 71, 74, 1) !important;
  border-radius: 36px !important;
}
.primary-btn {
  background-color: rgba(26, 95, 255, 1);
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 10.05px 16px 10.75px 16px;
  cursor: pointer;
}

.border-btn {
  border: 1px solid rgba(126, 166, 255, 1);
  color: rgba(126, 166, 255, 1);
  display: flex;
  align-items: center;
  padding: 10.05px 17px 10.75px 17px;
  background-color: transparent;
  border-radius: 6px;
  cursor: pointer;
}

.border-none {
  border: none;
}

.flexbox-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans-semibold {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.indie-flower {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
